<img
  class="background"
  src="assets/svgs/wave-3.svg"
  alt="Wave background"
/>

<form>
  <div class="sub-container">
    <img src="assets/svgs/svg-people.svg" alt="Illustration" />
  </div>

  <div class="sub-container">
    <h2>Create Your <span>Urban Transport</span> Account</h2>

    <div class="row">
      <input type="text" placeholder="First name" />
      <input type="text" placeholder="Last name" />
    </div>

    <input type="email" placeholder="Your email" />
    <input type="password" placeholder="Your password" />
    <input type="password" placeholder="Confirm password" />


    <button type="submit">Register</button>

    <a class="link" routerLink="/login">Already have an account?</a>
  </div>
</form>
